body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

.container{
    background-image: url(/imgs/hero.jpeg);
    background-position: center;
    height: 100vh;
    width: 100%;
    opacity: 85%;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-radius: 30% 0% 0% 50%;
    background-color: black;
    width: 300px;
    height: 100%;
    position: fixed;
    top:0;
    right: -300px;
    margin: 0;
    transition: right .5s cubic-bezier(1, 0, 0, 1);
}

.logo{
    margin: 35px;
    height:100px;
}

.hero--wrapper{
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--text{
    color: white;
    text-align: center;
    font-size: 5.8rem;
    animation: neon 100ms ease-in-out infinite;
}

header{
    display: grid;
    grid-template-columns: auto auto;
}

.hamburger--container{
    position: fixed;
    background-color: white;
    width: 40px;
    height: 40px;
    top: 40px;
    right:50px;
    padding: 15px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 10px 20px black;
}

.change .hamburger--container{
    background-color: transparent;
    transition: ease-in-out .3s;
}

.hamburger--line{
    background-color: red;
    width: 100%;
    height:5px;
    transition: all .5s;
}

.change .line--1{
    transform: rotateZ(-405deg) translate(-10px, 9px);
}

.change .line--2{
    opacity: 0;
}

.change .line--3{
    transform: rotateZ(405deg) translate(-10px, -9px);
}

.change{
    right: 0;
    box-shadow: 2px 2px 20px black;
}

.ul--navlist li{
    margin: 50px;
    text-align: center;
}

.ul--navlist li a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.ul--navlist li a:hover{
    box-shadow: 1px 1px 20px rgba(255, 0, 0, 0.808);
    border: rgba(255, 0, 0, 0.74) solid 2px;
    border-radius: 20px;
    padding: 15px;
    animation: neon 100ms ease-in-out infinite ;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(228, 202, 202, 0.92),
      0 0 20px rgba(228, 202, 202, 0.34),
      0 0 12px rgba(242, 30, 30, 0.52),
      0 0 21px rgba(242, 30, 30, 0.92),
      0 0 30px rgba(242, 30, 30, 0.78),
      0 0 50px rgba(242, 37, 30, 0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(228, 202, 202, 0.98),
      0 0 20px rgba(228, 202, 202, 0.42),
      0 0 12px rgba(242, 30, 30, 0.58),
      0 0 22px rgba(242, 30, 30, 0.84),
      0 0 34px rgba(242, 30, 30, 0.88),
      0 0 56px rgb(242, 30, 30);
    }
  }
  

/* --------------------------------------------------- Media Queries --------------------------------------------------- */

@media (max-width: 768px){
    .hero--text{
        font-size: 4rem;
    }
   
    .navbar{
    border-radius: 30% 0% 0% 50%;
    background-color: black;
    width: 450px;
    height: 100%;
    position: fixed;
    right: -450px;
    top: 0;
    }

    .change{
        right: 0;
    }

}

@media (max-width: 425px){
    .logo{
        height:70px;
        margin: 15px;
        width: auto;
    }

    .hamburger--container{
        width: 30px;
        height: 30px;
        top: 20px;
        right: 25px;
    }

    .change .line--1{
        transform: rotateZ(-405deg) translate(-5px, 9px);
    }

    .change .line--3{
        transform: rotateZ(405deg) translate(-5px, -9px);
    }

    .change{
        width: 100vw;
        height:100%;
        border-radius: 0%;
        opacity: 95%;
    }

    .navbar{
        transition: right 1s cubic-bezier(1, 2, 2, 1);
        border-radius: 0%;
    }
    
    .ul--navlist li{
        margin: 120px;
    }

    .hero--wrapper{
        margin: 100px;
    }

    .hero--text{
        font-size: 3.5rem;
        padding:0;
        margin: 0;
        text-align: left;
    }
}